/* IDs */
#imagem {
    padding: 7rem;
  }
  
  #login {
    display: flex;
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--secondary_color, #162C63);
    text-align: center;
    font-weight: 500;
    border: 1px solid var(--secondary_color);
  }
  
  /* Elementos */
  body {
    background: linear-gradient(180deg, rgba(22, 47, 111, 1), rgba(3, 20, 63, 1));
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
    color: var(--color_form_login_title, #AC7C00);
    font-size: 54px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .link {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2rem;
  }
  
  .recuperacao {
    text-align: center;
    font-size: 10px;
  }
  
  /* Classes */
  .container {
    border-radius: 20px;
    background: var(--degrade-caixa);
    box-shadow: 40px 40px 56px 0px rgba(0, 6, 29, 0.25), 0px 6px 10px rgba(109, 91, 43, 0.44);
    min-width: 550px;
    min-height: 50px;
    padding: 2rem;
  }
  
  .input-field {
    text-align: center;
    font-size: large;
  }
  
  .input-field input {
    outline: none;
    margin-bottom: 1rem;
    background: rgba(217, 217, 217, 0.28);
    box-shadow: 1px 6px 10px rgba(109, 91, 43, 0.44);
    border-radius: 8px;
    min-width: 300px;
    min-height: 40px;
    text-align: start;
    padding-left: 10px;
    padding-bottom: 4px;
  }
  
  .input-field input::placeholder {
    color: rgba(77, 90, 80, 1);
    font-size: small;
  }
  
  button {
    text-align: center;
    margin-top: 65px;
    border-radius: 20px;
    min-width: 50px;
    font-size: 12px;
    margin-left: 400px;
    background: rgba(217, 217, 217, 0.28);
    color: rgba(22, 44, 99, 1);
  }
  
  button:hover {
    cursor: pointer;
  }
  