div.header {
    background-color: var(--secondary_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.8em;
  }
  
  div.user > button {
    padding: 0px 0px 0px 0.3rem;
    border: none;
    margin: 0px;
    background-color: var(--transparent);
    border-radius: 100%;
  }
  
  div.user > button > img {
    width: 100%;
    height: 100%;
  }
  
  div.user > button:hover {
    cursor: pointer;
  }
  
  div#search {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  div#search > input {
    width: 344px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white_bg, #F2F4F5);
    margin-left: 0.8em;
  }
  
  div#search > input::placeholder {
    padding-left: 0.8em;
  }
  