@import 'normalize.css';

html {
    background-color: var(--secondary_color);
}

* {
    padding: none;
    margin: none;
    border: none;
    vertical-align: baseline;
    font-family: var(--font);
    font-size: 16px;
}

:root {
    --primary_color: #f0b935;
    --secondary_color: #162c63;
    --link_color: #0000ff;
    --white_bg: #f2f4f5;
    --white_font_color: #4d5a50;
    --black_bg: #404040;
    --black_font_color: #f2f4f5;
    --alert: #ff2950;
    --graphic_bg: #f2f4f5;
    --gain: #24ff00;
    --lose: #ff1919;
    --transparent: #00000000;
    --degrade-caixa: linear-gradient(205deg, rgba(255, 253, 239, 0.86) 9.61%, rgba(239, 244, 255, 0.72) 98.96%);
    --form_bg: #d9d9d947;
    --color_form_login_title: #AC7C00;

    --font:'Montserrat', sans-serif;
}

a {
    color: var(--link_color);
    
    &:hover{
        cursor: pointer;
    }
}

p, h1, h2, h3 {
    &:hover {
        cursor: default;
    }
}

button{
    margin: none;
    padding: none;
    border: 0px;
    background-color: var(--transparent);


    &:hover{
        cursor: pointer;
    }
}