.menu_button{
    border-radius: 8px;
    background: var(--secondary_color, #162C63);
  
    display: flex;
    align-items: center;
    gap: 10px;
  
    height: 1em;
    padding: 1rem 1.2rem;
  
    width: 95%;
    
    color: var(--black_font_color, #F2F4F5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}

.menu_button:hover{
    cursor: pointer;

    background-color: var(--primary_color);

    color: var(--secondary_color)
}

.vector{
fill: #F2F4F5;
}

.stroke{
stroke: #F2F4F5;
}

.vector_hover{
fill: #162C63;
}

.stroke_hover{
stroke: #162C63;
}


/* header */
div.header {
    background-color: var(--secondary_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.8em;
  }
  
  div.user > button {
    padding: 0px 0px 0px 0.3rem;
    border: none;
    margin: 0px;
    background-color: var(--transparent);
    border-radius: 100%;
  }
  
  div.user > button > img {
    width: 100%;
    height: 100%;
  }
  
  div.user > button:hover {
    cursor: pointer;
  }
  
  div#search {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  div#search > input {
    width: 344px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white_bg, #F2F4F5);
    margin-left: 0.8em;
  }
  
  div#search > input::placeholder {
    padding-left: 0.8em;
  }
  